/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    font-family: Madrid Pro, Arial,sans-serif;
    font-size: 14px;
    color: #7a7a7a;
    background: #fefefe;
}

h1{
    font-size: 2em;
}
h2,
h3 {
    text-transform: uppercase;
    /*color: #f0f0f0;*/
}

p{
    /*background: coral;*/
   /* margin: 0;*/
}
a{
	font-size: 12px;
	line-height: 20px;
	color: #1abb9c;
}

.container{
    width: 1150px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background: rgba(24, 255, 124, 0.5);*/
}
/*================*/
/*HEADER_START*/
/*================*/
.main-header{
    width: 100%;
    height: 100px;
    background: #f5f5f5;
}

.logo{
    width: 52px;
    height: 52px;
    margin-top: 24px;
    margin-bottom: auto;
    float: left;
    /*background: yellow;*/
}
.main-nav{
    float: right;
    display: block;
    margin-top: 40px;
    margin-bottom: auto;
}
.main-nav__list{
    margin: 0;
    padding: 0;
    list-style: none;/*убираем маркеры*/
   /* background: rgba(216, 18, 255, 0.5);*/
}
.main-nav__item{
    display: inline-block;
   /* height: 100px;*/
    /*padding-top: auto;*/
   /* padding-bottom: auto;*/
    /*background: yellow;*/
    margin-right: 20px;

}
.main-nav__link,
.main-nav__link--active{
    display: block;
    color: #7a7a7a;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

}
.main-nav__link--active{
    color: #0ed30e;
    pointer-events: none;/*делает ссылку некликабельной(неактивной)*/
    cursor: default;/*устанавливаем курсор ввиде стрелки*/
}

/*================*/
/*HEADER_END*/
/*================*/

/*================*/
/*MAIN_START*/
/*================*/

.main-work{
    height:490px;
    text-align: center;
}
.main-work_block{
    width: 265px;
    height: 314px;
    /*создаем двойную рамку*/
    border: 1px solid #e1e1e1;
    outline-color: #e1e1e1;
    outline-style: solid;
    outline-offset: 1px;
    float:left;
    margin-right:25px;
}
.main-work_block:last-child{
    margin-right: 0;
}
.main-work_block p{
    font-size: 16px;
    line-height: 22px;
    color:#606060;
    padding:0 20px 0 20px;
}
.block-pic{
    width: 60px;
    height: 55px;
    background: url("../img/Sprites_WWDo.png");
    margin: 50px auto 20px auto;
}
.video{
    /*background: url("../img/Sprites_WWDo.png");*/
    background-position: 190px 0;
}
.design{
    background-position: 120px 0;
}
.managment{
    background-position: 60px 0;
}
.service{
    width: 100%;
    height: 408px;
    background: url("../img/bg-section-one.png");
    text-align: center;
	position: relative;
}
.title__white{
    color: #d0d0d0;
    font-size: 16px;
    text-transform: uppercase;
    padding: 80px 20px 10px 20px;
}
.title_text{
    color: #d0d0d0;
    font-size: 14px;
    padding: 0 160px 0 160px;
}
.separator{
	border-bottom: 1px solid #777777;
	width: 100%;
	height: 10px;
	position: absolute;
	top: 245px;
	z-index: 1;
}
.icons{
    width: 135px;
    height: 150px;
    text-align: center;
	margin-top: 10px;
    overflow: hidden;/*добавлено для удаления эффекта схлопывания в блочных элементов*/
	position: relative;
	z-index: 10;
	float: left;
	margin-right: 190px;
	overflow: hidden;
}
.icons:after{
	content: "";
	display: inline-block;
	width: 90px;
	height: 1px;
	color: #777777;
	margin-left: 20px;
	float: left;
}
.icons:last-child{
	margin-right: 0;
}
.icons:after{
	content: "";
	display: inline-block;
	width: 90px;
	height: 1px;
	color: #777777;
	margin-left: 20px;
}
.icon-block{
    width: 95px;
    height: 95px;
	margin: 20px auto 15px auto;
    background: url("../img/Sprites-icons.png") no-repeat;
}
.icon-block__two{
	background-position: -120px 0;
}
.icon-block__three{
	background-position: -240px 0;
}
.icon-block__four{
	background-position: -360px 0;
}
.descr{
	color:#dddddd;
	text-transform: uppercase;
}
.projects{
	height: 572px;
	text-align: center;
	padding-top: 30px;
}
.block-projects{
	width: 370px;
	height: 365px;
	text-align: center;
	float: left;
	margin-right: 20px;
}
.block-projects:last-child{
	margin-right: 0;
}
.block-projects__pic{
	width: 370px;
	height: 255px;
	background: url("../img/portfolio_pic1.png") no-repeat;
}
.pic2{
	background: url("../img/portfolio_pic2.png") no-repeat;
}
.pic3{
	background: url("../img/portfolio_pic3.png") no-repeat;
}
.pic4{
	background: url("../img/journal-pic1.png") no-repeat;
}
.pic5{
	background: url("../img/journal-pic2.png") no-repeat;
}
.pic6{
	background: url("../img/journal-pic3.png") no-repeat;
}

.block-projects__disc{
	padding: 0 25px 0 25px;
}
.tesmtimonials{
	height: 330px;
	/*width: 100%;*/
	margin: 0 auto 0 auto;
	background: url("../img/bg_tesmonials.png") no-repeat;
	text-align: center;
}
.tesmtimonials__title{
	font-size: 16px;
	line-height: 22px;
	color: #d0d0d0;
	padding-top: 30px;
}
.tesmtimonials__title:after{
	content: "";
	display: inline-block;
	margin: 0 0 6px 20px;
	height: 1px;
	background-color: #777777;
	width: 83px;
}
.tesmtimonials__title:before{
	content: "";
	display: inline-block;
	margin: 0 20px 6px 0;
	height: 1px;
	background-color: #777777;
	width: 83px;
}
.tesmtimonials__disc{
	padding-left: 120px;
	padding-right: 120px;
}
.tesmtimonials__link{
	text-transform: uppercase;
}
.journal{
	width: 100%;
	height: 585px;
	text-align: center;
}
.title__grey{
	color: #616161;
	font-size: 16px;
	margin-top: 70px;
	margin-bottom: 40px;
}
.title__grey:before{
	content: "";
	display: inline-block;
	width: 82px;
	height: 1px;
	background-color: #e1e1e1;
	margin: 0 20px 5px 0;
}
.title__grey:after{
	content: "";
	display: inline-block;
	width: 83px;
	height: 1px;
	background-color: #e1e1e1;
	margin: 0 0 5px 20px;
}
.block-info{
	width: 370px;
	height: 46px;
	margin-top: 22px;
	text-align: left;
}
.block-info__text{
	padding-top: 5px;
	line-height: 10px;
}
.block-info__data{
	width: 46px;
	height: 46px;
	border: 1px solid #b1b1b1;
	float: left;
	margin-right: 10px;
	text-align: center;
}
.block-info__data span{
	display: block;
	padding-top: 5px;
}
.block-info__list{
	list-style: none;
	padding: 0;
	margin: 0;
	/*background: #0ed30e;*/
}
.block-info__item{
	display: inline-block;
	padding: 0;
	margin: 0;
	padding-right: 5px;
	border-right: 1px solid #1abb9c;

}
.block-info__item:last-child{
	border-right: none;
}
.block-info__item a{
	color: #1abb9c;
}
.block-info__item--left{
	text-align: left;
	margin-top: 10px;
}
.block-projects__disc--left{
	text-align: left;
	padding-top: 15px;
	line-height:24px;
}
/*фича*/
.ex{
	position: relative;
}
.myblock{
	width: 130px;
	height: 130px;
	display:inline-block;

	text-align: center;
	/*background: rgba(0,0,0,0.2);*/
}
.myblock__img{
	width: 95px;
	height: 95px;
	background: url("../img/Sprites-icons.png") no-repeat;
}
hr{
	position: absolute;
	display: inline-block;
	width: 100px;
	top: 30px;
	color: #575755;
	/*border: 1px solid #575755;*/

}
/*конец фичи*/
/*================*/
/*MAIN_END*/
/*================*/


/*================*/
/*FOOTER_START*/
/*================*/
.main-footer{
    height: 470px;
    width: 100%;
    background: #373737;
    position: relative;
}
.main-footer p{
    color: #cacaca;
}
.main-footer h3{
    color: #f0f0f0;
}
.info-block{
    width: 257px;
    height: 250px;
    /*background: #0ed30e;*/
    float: left;
    margin-right: 40px;
    margin-top: 65px;
    /*margin-bottom: 65px;*/
}
.info-block:last-child{
    margin-right: 0;
}
.data{
    /*background: yellow;*/
    display: inline-block;
}
.icon{
    display: inline-block;
    width: 12px;
    height: 20px;
    background: url("../img/Footer-sprites.png") no-repeat;
    margin-right: 10px;
	float: left;
	padding-top: 5px;
}
.icon-map{
    background-position: 0 0;
}
.icon-tel{
    background-position: 0 -49px;
}
.icon-mailto{
    background-position: 0 -70px;
}
.main-footer__copy{
    width: 100%;
    height: 80px;
    background: #333333;
    position: absolute;
    bottom: 0;
}
.main-footer__copy--text{
    padding: 2.4em 0;
}
/*================*/
/*FOOTER_END*/
/*================*/


/*@media screen and (min-width:480px) and (max-width:1200px) {
    .container{
        width: 950px;
    }
}*/





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
